body {
  margin: 0;
  font-family: "Assistant", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;

  height: 3rem;
}

header .logo {
  width: 3rem;
  height: 3rem;
}

header .items-wrapper {
  display: flex;
 justify-content: center;
  align-items: center;

height:100%
  
}

header .items-wrapper .quote, .contact-number {
  
  
  border-left: 1px solid rgb(173, 171, 171);
 padding-left:1rem;
 padding-right:1rem;

 height:100%;
 line-height:3rem
 
 
}

/*hamburger container*/
.hamburger {
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:#0A77B7;
    text-align: center;
    width: 3rem;
    height:3rem;
    
  }
  



  .hamburger p {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  /*hamburger bars created with css*/
  .hamburger .bar-1 {
    display: block;
    width: 20px;
    height: 2px;
    background-color:white;
    margin: 5px;
    transition: 0.2s ease;
    border-radius: 2px;
  }




@media screen and (min-width: 990px) {

    header {
        margin-left: 3%;
        margin-right: 3%;
      
        height: 7rem;
      }

      header .items-wrapper {
      
    height:3rem
      
      }



      header .items-wrapper .quote, .contact-number  {
        border: 1px solid rgb(173, 171, 171);
        margin-left:2rem;
      line-height:3rem
       
      }
      

      header .items-wrapper .hamburger {
     margin-left:2rem;
     width:3.8rem
   
        
      }




}
