.services-grid{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    
    gap: 10px;
 
    margin-top:5rem;
    text-align: center;
}
