.hero-img {
  width: 100%;
  height: 11rem;
  background-color: blue;
}

.hero-wrapper {
  position: relative;
}

.hero-wrapper .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0079bc;
  opacity: 0.82;
}

.hero-wrapper h1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: 2.4rem;
  margin: 0;
}

.our-services-section {
  background-color: #f2ce01;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 40px;
}

.services-grid .grid-item img {
  display: none;
}

.our-services-section .grid-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.our-services-section .grid-item h2 {
  font-size: 1.1rem;
  color: #474745;
  letter-spacing: 0.04rem;
}

.our-services-section .grid-item p {
  font-size: 1.05rem;
  color: #474745;
  line-height: 1.68rem;
  padding-top: 0.8rem;
  letter-spacing: 0.04rem;
}

.client-relationship-section {
  width: 100%;
}

.relationship-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: auto;
  gap: 90px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.relationship-grid .grid-item {
  width: 85%;
  margin: auto;
}

.relationship-grid .grid-item h2 {
  color: #474745;
  font-size: 1.3rem;
}

.relationship-grid .grid-item .title {
  color: #474745;
  font-size: 1.8rem;
  font-weight: bold;
}

.relationship-grid .grid-item p {
  font-size: 1.05rem;
  color: #474745;
  line-height: 1.68rem;
  padding-top: 0.8rem;
  letter-spacing: 0.04rem;
}

.client-relationship-section .relationship-grid .grid-item .btn-wrapper {
  margin-top: 3rem;
}

.relationship-grid .grid-item .btn {
  border: 1px solid transparent;
  box-shadow: inset 0 -3px 0 rgb(0 0 0 / 20%);
  padding: 1.063rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: bold;
  background-color: #0a77b7;
  color: #fff;
  text-decoration: none;
}

.relationship-grid .grid-item img {
  width: 100%;
}

@media screen and (min-width: 575px) {
  .our-services-section {
    margin-top: 3rem;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 95%;
    margin: auto;
    padding-left: 0;
    padding-bottom: 40px;
    padding-top: 40px;

    gap: 0.4rem;
    row-gap: 2rem;

    text-align: center;
  }

  .our-services-section .grid-item {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 0;
  }

  .our-services-section .grid-item h2,
  p {
    width: 80%;
    margin: auto;
  }

  .our-services-section .grid-item h2 {
    margin-top: 3rem;
  }

  .our-services-section .grid-item p {
    margin-bottom: 3rem;
  }

  .services-grid .grid-item img {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 990px) {

    .hero-img {
        
        height: 17rem;
       
      }
      
      .hero-wrapper h1 {
      
        font-size: 4rem;
        line-height:17rem
       
      }


  .services-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .relationship-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-top: 8rem;
    padding-bottom: 8rem;
    gap: 0;
    width: 90%;
  }

  .relationship-grid .grid-item {
    width: 100%;
  }

  .relationship-grid .grid-item h2 {
    font-size: 1.5rem;
  }

  .relationship-grid .grid-item img {
  }

  .relationship-grid .grid-item .title {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 3rem;

    width: 100%;
  }
}
